@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PassionOne';
    src: url(../Fonts/Passion_One/PassionOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Sriracha';
    src: url(../Fonts/Sriracha/Sriracha-Regular.ttf) format("truetype");
}

:root{
    --fontTitulo: "PassionOne", sans-serif;
    --fontTexto: "Sriracha";
    --fontTamanhoTexto: 1.5em;
    --fontTamanhoTitulo: 4em;
    --backgroundimage1: url("../imagens/background001.jpg");
    --backgroundimage2: url("../imagens/background002.jpg");
}

@media (max-width: 600px) {
    h1{
        font-size: 1.5em;
    }
    pre{
        font-size: 14px;
    }
    div>p{
        font-size: 16px;
    }
    footer{
        font-size: 16px;
    }
}

header{
    background-color: black;
    color: white;
    margin: 0 0 20px 0;
    text-align: center;
    padding: 30px;
}

header>h1{
    font-size: var(--fontTamanhoTitulo);
    font-family: var(--fontTitulo);
    font-weight: 200;
}

header>p>a{
    text-decoration: none;
    color: white;
}

header>p>a:hover{
    text-decoration: underline;
}

main>pre{
    font-family: var(--fontTexto);
    font-size: var(--fontTamanhoTexto);
}

.backgroundImagem{
    padding: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#fundo1{
    background-image: var(--backgroundimage1);
}

#fundo2{
    background-image: var(--backgroundimage2);
}

.bordaTexto{
    border: 3px solid rgb(0, 0, 0);
    max-width: 340px;
    margin: 25px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.407);
    background-color: rgba(0, 0, 0, 0.157);
    border-radius: 2%;
}

.textobackground{
    margin-left: 35px;
    font-family: var(--fontTexto);
    font-size: var(--fontTamanhoTexto); 
    color: white;   
}


footer>p{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
